<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img class="home-logo mx-5 my-3" src="https://cdn.battlefy.com/helix/images/organizers/nintendo/smash/ssbu-logo.png" alt="" width="225" height="100">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu">
          <li><a class=" btn-danger dropdown-item" href="/">Home</a></li>
          <li><a class="dropdown-item" href="/add">Add a Fighter</a></li>
          <li><a class="dropdown-item" href="#"></a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>